body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    height: 100%;
    width: 100%;
}

aside {
    width: 150px; /* Zmniejszona szerokość bocznego menu */
    background-color: lightgreen; /* Tło paska bocznego */
    color: white;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); /* Delikatny cień */
    position: fixed; /* Ustawienie na stałe po lewej stronie */
    height: 100%; /* Wysokość na całą stronę */
    top: 0;
    left: 0;
}

aside nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

aside nav ul li {
    margin: 20px 0;
}

main {
    margin-left: 170px; /* Odstęp od paska bocznego */
    flex: 1;
    padding: 20px;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
}

#custom-calendar {
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.month {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.weekdays, .days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
}

.weekdays div, .days div {
    text-align: center;
    padding: 10px;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.prev-date {
    color: #bbb;
}

#appointments, #settings, #profile {
    background-color: white;
    padding: 20px;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}
