body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    height: 100%;
    width: 100%;
}

aside {
    width: 200px; /* Zmniejsz szerokość bocznego menu */
    background-color: #333;
    color: white;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); /* Dodaj delikatny cień, aby oddzielić menu od reszty strony */
}

aside nav ul {
    list-style: none;
    padding: 0;
}

aside nav ul li {
    margin: 20px 0;
}

main {
    flex: 1;
    padding: 20px;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    margin-left: 220px; /* Dodaj odstęp od bocznego menu */
    max-width: calc(100% - 220px); /* Ustaw maksymalną szerokość kalendarza, aby nie wychodził poza ekran */
}

#calendar {
    flex: 1;
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#appointments, #settings, #profile {
    background-color: white;
    padding: 20px;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
    width: 100%; /* Ustawia nagłówek na całą szerokość ekranu */
    margin-bottom: 20px;
}

#appointment-form {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#appointment-form input, #appointment-form button {
    display: block;
    margin: 10px 0;
    padding: 10px;
    width: 100%;
}

#appointment-list {
    list-style-type: none;
    padding: 0;
}

#appointment-list li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
}

#appointment-list li button {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

#appointment-list li button:hover {
    background-color: darkred;
}
